@media only screen and (max-width: 767px) {
    #presentation > h1{
        font-size: 2.5rem;
    }

    
    #presentation-container{
        justify-content: center;
        padding: 10rem 1.2rem;
    }

    
    #presentation{
        width: 23rem;
        text-align: center;
    }

    #presentation > p{
        font-size: 1rem;
    }

    h2{
        font-size: 2rem;
    }

    #presentation > p{
        font-size: 0.9rem;
    }

        
    #qualities{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 4.2rem;
    }

    .contact-title{
        font-size: 2.2rem;
    }

    #qualities > img{
        margin: 2rem 0;
        transform: rotate(90deg);
    }


    .grid-container{
        grid-template-columns:  1fr;
    }

    h3{
        font-size: 1.2rem;
    }

    .container{
        text-align: center;
        padding: 5rem 2rem;
    }

    .container > p{
        font-size: 0.9rem;
    }
    
    .grid-container-companies{
        display: grid;
        grid-template-columns:  1fr;
        grid-template-rows: auto;
        gap: 1rem;
    }
    
    .company-1{
        grid-area: auto;
    }
    
    .company-2{
        grid-area: auto;
    }
    
    .company-3{
        grid-area: auto;
    }
    
    .company-4{
        grid-area: auto;
    }
    
    .company-5{
        grid-area: auto;
    }
    
    .company-6{
        grid-area: auto;
    }
    
    .company-7{
        grid-area: auto;
    }
    
    .company-8{
        grid-area: auto;
    }
    
    .company-9{
        grid-area: auto;
    }
    
    .grid-item-companies{
        display: flex;
        height: 11rem;
    }
    
    .article-container{
        display: flex;
        flex-direction: column-reverse;
        
    }

    .article-container > img{
        width: 100%;
        object-fit: cover;
    }

    .article-container:nth-child(even){
        flex-direction: column-reverse;
        margin: 7.5rem 0 0 0  ;
    }

    .article-details{
        text-align: center;
        margin: 2.5rem 0 0 0;
        align-items:normal;
    }

    .article-details > button{
        font-size: 1rem;
    }


    .article-container:nth-child(even) > .article-details{
        margin: 2.5rem 1rem 0 0 ;
    }

    .footer-list{
        display: flex;
        flex-direction: column;
    }
    
    .footer-list > ul > li{
        font-size: 0.9rem;
    }
    
    .footer-list > ul > li:first-child{
        margin-top: 3rem;
        font-size: 1.1rem;
    }

    .footer-list > ul > li:last-child{
        margin: 0;
    }
        
    .footer-copyright{
        flex-direction: column-reverse;
        gap: 4rem;
        margin-top: 8.5rem ;
    }

}