html{
    font-family: "Manrope", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: #000
}

button{
    background-color: #F84646;
    color: #FFF;
    font-size:1.5rem;
    padding:0.5rem 1.5rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: opacity 0.5s ease-in, transform 0.5s ease-out 0.2s;
 }

 button:hover{
    opacity: 0.6;
    transform: scale(1.2);
 }

 h2{
    font-weight: 800;
    font-size: 3rem;
}

h3{
    font-weight: 800;
    font-size: 1.5rem;
    margin: 0;
}



#presentation-container{
    height: 100vh;
    padding: 2.5rem 16rem 0 7.5rem;
    background-image: url(../assets/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#presentation{
    width: 37.5rem;
}

#presentation > h1{
    font-weight: 800;
    font-size: 4rem;
    padding-bottom: 1.2rem;
}

#presentation > p{
    font-weight: 400;
    font-size: 1.28rem;
    line-height: 2.2rem;
}


#qualities{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4.2rem;
}

#qualities > img{
    margin: 0 2.5rem;
}

.container{
    text-align: center;
    padding: 5rem 7.5rem;
}

.container > img {
    margin: 0.5rem;
}


.container > p{
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 1.5rem;
}


.container > button{
    margin-top: 2rem;
    transition: opacity 0.5s ease-in-out, transform 0.5s .2s ;
}

.container > button:hover{
    opacity: 0.8;
    transform: scale(1.1);
}

.background-gradient{
    background: linear-gradient(180deg,#FFF,#d9d9d9);
}

.background-red{
    background-color: #F84646;
    color: #FFF;
}

.background-gray{
    background-color:#f4f5f7
}

.contact-title{
    font-size: 3rem;
    font-weight: 800;
}

.article-container{
    display: flex;
}
.article-container > img{
    width: 50%;
    object-fit: cover;
}

.article-container:nth-child(even){
    flex-direction: row-reverse;
    margin: 7.5rem 0 0 0  ;
}

.article-details{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    justify-content: space-between;
    margin: 0 2.5rem 0 0;
}

.article-details > button{
    margin-top: 1rem;
    font-size: 1.3rem;
}

.article-details > div > h2{
    font-size: 2.5rem ;
    font-weight: 600;
    padding-bottom: 2.5rem;
}

.article-details > div > p{
    font-size: 1.2rem ;
    color: #808080;
}


.article-container:nth-child(even) > .article-details{
    margin: 0 0 0 2.5rem;
}

.footer-list{
    display: flex;
    text-align: left;
    justify-content: space-evenly;
}

.footer-list > ul > li{
    list-style: none;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.footer-list > ul > li:not(:first-child):hover{
    text-decoration: underline;
    font-weight: 500;
}

.footer-list > ul > li:first-child{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    cursor: default;
}

.footer-list > ul > li:last-child{
    margin-bottom: 0;
}

.footer-copyright{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8.5rem ;
}
.footer-copyright > div > img{
    cursor: pointer;
}

.footer-copyright > div > img:hover{
  transform: scale(1.3);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin-top: 5.5rem;
}

.grid-item > h3{
    margin-top: 0.5rem;
} 


.grid-item > p {
    margin: .5rem 0  0;
}


.grid-container-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
    margin-top: 3rem;
}

.company-1{
    grid-area: 3/1;
}

.company-2{
    grid-area: 2/2;
}

.company-3{
    grid-area: 3/2;
}

.company-4{
    grid-area: 1/3;
}

.company-5{
    grid-area: 2/3;
}

.company-6{
    grid-area: 3/3;
}

.company-7{
    grid-area: 2/4;
}

.company-8{
    grid-area: 3/4;
}

.company-9{
    grid-area: 3/5;
}

.grid-item-companies{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: #FFF;
}